@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('../fonts/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: local('Lato'),
       url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';

* {
  border: none;
  outline: none;
}
body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
}

#wrapper {
  width: 100%;
  height: 100%;
  background: #242432;
  font-family: 'Lato';
}

.link-to-service {
  font-size: 22px;
  border: 1px solid #fba700;
  position: absolute;
  width: 260px;
  height: 50px;
  top: 50%;
  margin-top: -25px;
  left: 50%;
  margin-left: -130px;
  color: #fba700;
  line-height: 50px;
  text-align: center;
  transition: all .2s ease-in-out;
  &:hover {
    color: #f0f0ff;
    background: #fba700;
    text-decoration: none;
  }
}

#app {
  width: 100%;
  height: 100%;
}